@charset "UTF-8";
*{
  list-style: none;
}
a {
  text-decoration: none;
  color: #57523E;
}
#menu{
   position: fixed;
   top: 0;
  z-index: 99; 
  background-color: white;
  height: 50px;
  text-align: center;
}
[class*="main"] {
  background-color: #FEEBB6;
  border-radius: 5px 5px 5px 5px;
}

[class*="main"] ul {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #57523E;
}
.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 130%;
  width: 1650px
	}
.main1>li {
  float: left;
  width: 13%;
  line-height: 80px;
  position: relative;
  display: top;
}
.main1>li:hover .main2 {
  left: 0;
}
.main1>li a {
  display: block;
}
.main1>li a:hover {
  font-weight: bold;
}
.main2 {
  width:110%;
  background-color: white;
  position: absolute;
  top: 50px;
  left: -9999px;
  width: 100%;
  padding: 0px;
}
.main1>li:hover {
  border-bottom: 5px solid grey;
}
.main2 li:hover {
  border-left: 5px solid #FEEBB6;
}

.main2>li {
  position: relative;
}
.main2>li:hover .main3 {
  left: 100%;
}
.main2>li a, .main3>li a {
  border-radius: 10px;
  margin: 10px;
}
.main3 {
  position: absolute;
  top: 0;
  width: 100%;
  left: -9999px;
  padding: 0px;
}
.main3>li a:hover {
  color: #fff;
}
body {
  margin: 0;
}

#wrapper{
	margin-top:200px;
  height : 100%;
}
footer{
  position : relative;
  transform : translateY(-100%);
}
